.wrapper {
  margin: 10vh 10vw;
  padding: 16px;
  height: 80vh;
  border-radius: 21px;
  border-radius: 21px;
  background: #eee8e8;
  box-shadow: 18px 18px 34px #bebaba, -18px -18px 34px #ffffff;
}
